.ex-1-square {
    transition: all 1s ease 0s;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    transition: all 2s ease;
}

.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    transition: all 1s ease;
}

.ex-3-square:hover {
    border-radius: 100%;
}

.ex-4-square {
    transition: all 1s ease;
}

.ex-4-square:hover {
    opacity: 0;
}

.ex-5-square {
    transition: all 1s ease;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.5);
}
