.ex-1-square {
    transition: all 1s ease 0s;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    transition: all 2s ease;
}

.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    transition: all 1s ease;
}

.ex-3-square:hover {
    border-radius: 100%;
}

.ex-4-square {
    transition: all 1s ease;
}

.ex-4-square:hover {
    opacity: 0;
}

.ex-5-square {
    transition: all 1s ease;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.5);
}

.ex-6-img:hover {
    filter: grayscale();
}

.ex-7-img {
    transition: all 2s ease;
}

.ex-7-img:hover {
    filter: sepia(50%);
}

.ex-8-img {
    transition: all 2s ease;
}

.ex-8-img:hover {
    filter: sepia(70%);
    border-radius: 20px;
}

.ex-9-img {
    transition: all 2s ease;
}

.ex-9-img:hover {
    filter: sepia(70%);
    border-radius: 20px;
    transform: scale(1.5);
}

.ex-10-icon {
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.ex-11-icon:hover {
    animation: rotate2 2.5s linear ;
}

@keyframes rotate2 {
    0% {transform: rotate(0deg);}
    80% {transform: rotate(320deg);}
    100% {transform: rotate(0deg);}
}


.ex-12-button:hover .ex-12-top-white {
    animation-name: moving;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes moving {
    0% {position: absolute;
        left: 10%}
    70% {position: absolute;
        left: 69%}
    100% {position: absolute;
        left: 10%}
}

.ex-12-button:hover .ex-12-bottom-white {
    animation-name: moving-bottom;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes moving-bottom {
    0% {position: absolute;
        right: 20%}
    70% {position: absolute;
        right: 68%}
    100% {position: absolute;
        right: 20%}
}
